@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    text-decoration: none;
    color: white;
}

body {
    background-image: url(./img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.header {
    background-color: #004BAD;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    align-items: center;
}
.logo {
    height: 18vh;
    margin: 2rem;
}
.links {
    margin: 4rem;
}
.links-itens {
    display: flex;
    font-weight: 400;
    gap: 2rem;
}
.links-itens a {
    font-size: 1.2rem;
    transition: 0.5s;
    padding: 0.5rem;
    border-radius: 0.2rem;
}
.links-itens a:hover {
    color:white ;
    background-color: #5EE0E9;
}
.inicio {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin: 8rem 2rem 5rem ;
}
.foto-inicio{
    align-self: center;
    height: 30rem;
}
.title-inicio{
    margin-top: 4rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.title-inicio h1 {
    font-size: 2.3rem;
    text-align: center;
    width: 90%;
}
.title-inicio p {
    font-size: 1.7rem;
    width: 90%;
    text-align: center;
}
.btn{
    gap: 2rem;
    text-align: center;
    width: 12rem;
    height: 3.5rem;
    border: 0.1rem  transparent;
    border-radius: 1rem;
    background-color: #004BAD;
    text-shadow: 0 0 10px #5EE0E9, 0 0 20px #5EE0E9, 0 0 30px #5EE0E9, 0 0 40px #00eaff, 0 0 70px #00eaff, 0 0 80px #00eaff, 0 0 100px #00eaff, 0 0 150px #00eaff;
    transition: 0.6s;
}
.btn:hover{
    width: 13rem;
    border-radius: 1rem;
    color: white;
    background-color: #5EE0E9;
}
.dados {
    display: flex;
    height: 100%;
    margin: 1rem;
    gap: 4rem;
}
.dados h3{
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    font-weight: 300;
    text-align: center;
}
.sobre{
    margin: 4rem 2rem 10rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    height: 100%;
}
.card-sobre{
    margin: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
}
.title-sobre{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin: 2em;
}
.title-sobre h1{
    color: white;
    font-size: 2.7rem;
    text-align: center;
}
.title-sobre h3{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}
.video-background{
    position: relative;
    height: 50rem;
    margin-left: 0;
    z-index: -1;
}
.title-transform{
    margin: 3rem;
}
.title-transform h1{
    font-size: 3.7rem;
    text-align: center;
    color: white;
}
.transformacao{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
}
.card-tabela {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 3rem; 
  justify-content: center;
}
.img-cards {
  width: 400px;
  margin-bottom: 4rem; /* Adicione esta propriedade para definir o espaçamento vertical entre as fotos */
}
.card {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 10px 10px 20px rgba(0, 75, 173, 0.9);
  border-radius: 1rem;
}
.planos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    width: 100%;
    margin-bottom: 1rem;
}
.card-planos{
    display: flex;
    justify-content: space-around;
    height: 100%;
    text-align: center;
    border: 0.5rem solid white;
    border-radius: 1rem;
    background-color: white;
    margin: 2rem;
}
.info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.info h1{
    margin: 0.5rem;
    font-size: 2.9rem;
    font-weight: 700;
    color: #004BAD;
}
.info p{
    color: Black;
}

.info h2{
    color: #004BAD;
    font-weight: 400;
    margin-top: -1.5rem;
}
.btn-planos{
    gap: 2rem;
    text-align: center;
    align-items: center;
    height: 3.5rem;
    border: 0.1rem  transparent;
    border-radius: 1rem;
    background-color: #004BAD;
    transition: 0.6s;
}
.btn-planos:hover{
    border-radius: 1rem;
    color: #004BAD;
    background-color: #5EE0E9;

}
.footer{
    width: 100%;
    height: 50px;
    background-color: #004BAD;
    text-align: center;
}
/*Responsividade*/
@media(max-width:803px){
    .header a{
        font-size: 1rem;
    }
    .btn{
      width: 9rem;
      height: 2.5rem;  
    }
    .title-inicio{
        width: 100%;
    } 
    .title-inicio h1{
        font-size: 1.8rem;
    }
     .title-inicio p{
        font-size: 1.2rem;
        width: 85%;
    }
    .foto-inicio{
        height: 25rem;
    }
    .video-background{
        height: 35rem;
    }
    .title-sobre{
        margin: 0;
    }
    .title-sobre h1{
        font-size: 2.1rem;
    }
    .transformacao{
        display: flex;
        align-items: center;
    }
    .transformacao img{
        width: 300px;
    }
    .transformacao h1{
        font-size: 2.8rem;
    }
    .card-tabela{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }
    .img-cards{
        width: 300px;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
    }
    .card-planos{
        margin: 1rem;
    }
    .card-planos h1{
        font-size: 2.3rem;
    }
    .card-planos p{
        font-size: 1rem;
    }
    .card-planos h2{
        margin: 0.2rem;
    }
}
@media(max-width:450px){
    .header{
        margin-bottom: 4rem;
    }
    .logo{
        margin: 0;
    }
    .header a{
        font-size: 0.6rem;
    }
    .btn{
      width: 9rem;
      height: 2.5rem;  
    }
    .inicio{
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
    }
    .title-inicio{
        width: 70%;
        gap: 1rem;
        margin-top: 2rem;
    } 
    .title-inicio h1{
        font-size: 1.5rem;
    }
     .title-inicio p{
        font-size: 1.2rem;
        width: 85%;
    }
    .dados h3{
        font-size: 1.2rem;
        width: 85%;
    }
    .foto-inicio{
        height: 25rem;
    }
    .video-background{
        height: 30rem;
    }
    .card-sobre{
        margin: 0;
        gap: 2rem;
    }
    .title-sobre h1{
        font-size: 1.7rem;
        width: 100%;
    }
    .title-sobre h3{
        font-size: 1.2rem;
    }
    .transformacao{
        display: flex;
        align-items: center;
    }
    .transformacao img{
        width: 300px;
    }
    .transformacao h1{
        font-size: 2.8rem;
    }
    .card-tabela{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }
    .img-cards{
        width: 300px;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
    }
    .card-planos{
        margin: 1rem;
    }
    .card-planos h1{
        font-size: 2.3rem;
    }
    .card-planos p{
        font-size: 1rem;
    }
    .card-planos h2{
        margin: 0.2rem;
    }
}

